# ESPHome artifacts and secrets
/firmware/**/.esphome/
/firmware/**/.pioenvs/
/firmware/**/.piolibdeps/
/firmware/**/lib/
/firmware/**/src/
/firmware/**/platformio.ini
/firmware/secrets.yaml

# PCB backup files, caches and bundled build outputs
/pcb/**/*.sch-bak
/pcb/**/*.kicad_pcb-bak
/pcb/**/_autosave-*.kicad_pcb
/pcb/out/*.zip
/pcb/out/*.tar
/pcb/out/*.tar.gz

# Editor files
tags
*.swap
