# ESPHome artifacts and secrets
/firmware/**/.esphome/
/firmware/**/.pioenvs/
/firmware/**/.piolibdeps/
/firmware/**/lib/
/firmware/**/src/
/firmware/**/platformio.ini
/firmware/secrets.yaml

# PCB backup files and caches
/pcb/**/*.sch-bak
/pcb/**/*.kicad_pcb-bak

# Editor files
tags
*.swap
